{% extends "base.html" %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <strong>Trade</strong>
      </h1>
    </section>

    <!-- Main content -->
    <div class="content">

        <!-- TradingView Widget BEGIN -->
        <div class="tradingview-widget-container">
                <div id="tradingview_c379d"></div>
                <div class="tradingview-widget-copyright"></div>
                <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
                <script type="text/javascript">
                new TradingView.widget( {
                "autosize": true,
                "symbol": "BITFINEX:BTCUSD",
                "interval": "D",
                "timezone": "Etc/UTC",
                "theme": "Dark",
                "style": "1",
                "locale": "uk",
                "toolbar_bg": "#f1f3f6",
                "enable_publishing": false,
                "allow_symbol_change": true,
                "save_image": false,
                "hideideas": true,
                "container_id": "tradingview_c379d"
                });
                </script>
            </div>
            <!-- TradingView Widget END -->

    </div>

    </section>
    <!-- /.content -->
  </div>
{% endblock %}