{% extends "base.html" %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Explorer</h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- PAGE HEADER -->
      <div class="box box-info"></div>
      <br>
        <form class="login101-form validate-form" action="" method="post">
          {{ form.hidden_tag() }}

          <div class="wrap-input101 validate-input m-b-10" data-validate = "Please enter a valid number">
            {{ form.search(id="search-bar", class="input101", value="", autocomplete="off", style="background-color:#e3eeec; font-style:italic;", placeholder="Search the blockchain for an address, block hash, block height or transaction ID", size=36) }}
            {% for error in form.search.errors %}
              <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
          </div>

        </form>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            {% for message in messages %}
              <h4 style="color: white;" align="center">{{ message }}</h4>
            {% endfor %}
          {% endif %}
        {% endwith %}
      <br>
      <br>
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">

          <!-- TABLE: Latest activity -->
          <div class="box box-info" style='color:white;'>
            <div class="box-header with-border" style='color:white;'>
              <h3 class="box-title"><strong>Latest Blocks</strong></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table id="blocks-table" class="table no-margin">
                  <thead>
                  <tr>
                    <th>Hash</th>
                    <th>Height</th>
                    <th>Age</th>
                    <th>Transactions</th>
                    <th>Size (kB)</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for row in latest_blocks %}
                    <tr>
                      <td><a class="id-link">{{ row[0][:40] }}..</a></td>
                      <td>{{ row[1] }}</td>
                      <td>{{ row[2] }}</td>
                      <td>{{ row[3] }}</td>
                      <td>{{ row[4] }}</td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

        </section>

        <!-- right col -->
        <section class="col-lg-5 connectedSortable ui-sortable">
          <!-- TABLE: Latest activity -->
          <div class="box box-info" style='color:white;'>
            <div class="box-header with-border" style='color:white;'>
              <h3 class="box-title"><strong>Latest Transactions</strong></h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table id="txs-table" class="table no-margin">
                  <thead>
                  <tr>
                    <th>Transaction ID</th>
                    <th>Time</th>
                    <th>Fee/size</th>
                    <th>Value</th>
                  </tr>
                  </thead>
                  <tbody>

                  {% for row in latest_blocks %}
                    <tr>
                      <td><a class="id-link">{{ row[0][:20] }}..</a></td>
                      <td>{{ row[1] }}</td>
                      <td>{{ row[2] }}</td>
                      <td>{{ row[3] }}</td>
                    </tr>
                  {% endfor %}

                  </tbody>
                </table>

                <script>
                $(document).ready(function() {
                  $.getJSON($SCRIPT_ROOT + "/get_blocks", function(data) {
                    alert(JSON.stringify(data));
                    // $('#test-table').text(JSON.stringify(data['result']));
                  });
                });
                </script>

                <script>
                $(document).ready(function() {
                  $.getJSON($SCRIPT_ROOT + "/get_txs",
                    function(data) {
                      // alert(JSON.stringify(data));
                    }
                  );
                });
                </script>

              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
          <p id="test-table"></p>
        </section>
        
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->



  </div>
{% endblock %}
