{% extends "base.html" %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Funding</h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- PAGE HEADER -->
      <div class="box box-info"></div>

      <div class="funding-buttons">
        <a href="JavaScript:Void(0);" class="funding-button funding-save"><i class="fa fa-download"></i> Deposit</a>
        <a href="JavaScript:Void(0);" class="funding-button funding-save"><i class="fa fa-share-square-o"></i> Withdraw</a>
      </div>

    </section>
    <!-- /.content -->

  </div>
{% endblock %}
