{% extends "base.html" %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Funding</h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- PAGE HEADER -->
      <div class="box box-info" style='color:white;'></div>

      <!-- Main row -->
      <div class="row">
        
          <div class="col-md-4 connectedSortable ui-sortable">
              <div class="funding-buttons">
                  <a id="deposit-button" href="JavaScript:Void(0);" class="funding-button funding-save"><i class="fas fa-download"></i> Deposit</a>
                  <a id="withdraw-button" href="JavaScript:Void(0);" class="funding-button funding-save"><i class="fas fa-upload"></i> Withdraw</a>
                </div>
                <br>
                <br>
                <br>
            <div class="box box-default bg-aqua" style="width: 400px;">
                <!-- /.box-header -->
                <div class="box-body" style="height: 300px;">
                  <form action="" method="post">
                    <input type="radio" name="gender" value="male" checked="checked"><h4><i class="fab fa-bitcoin"></i><strong> Bitcoin (BTC)</strong></h4><br><br><hr>
                    <input type="radio" name="gender" value="female" disabled="true"><h4><i class="fas fa-money-check-alt"></i><strong> US Dollar (USD)</strong></h4>
                    [Currently unavailable]
                  </form>
                </div>
                <!-- /.box-body -->

                <script>
                $(document).ready(function() {
                  $('#deposit-button').click(function() {
                    $('#deposit-button').css('background-color', '#222d32');
                    $('#withdraw-button').css('background-color', '#425964');
                    $('#funding-header').html('<h3>Bitcoin deposit <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></h3>');
                    $('#funding-instructions-1').text('Deposit bitcoins by sending to the deposit address shown below.');
                    $('#funding-instructions-2').text('Three confirmations are required before the funds are available for trading.');
                    $('#qrcode').empty();
                    var address;
                    $.getJSON($SCRIPT_ROOT + "/get_address", function(data) {
                      address = data.result
                      $('#qrcode').qrcode({
                        width: 256,
                        height: 256,
                        background: "rgb(184, 184, 184)",
                        text: address
                      });
                      $('#funding-address').html('<strong>' + address + '</strong>');
                    });
                  });
                  $('#withdraw-button').click(function() {
                    $('#deposit-button').css('background-color', '#425964');
                    $('#withdraw-button').css('background-color', '#222d32');
                    $('#funding-header').html('<h3>Bitcoin withdrawal</h3>');
                    $('#funding-instructions-1').text('Withdraw bitcoins by providing us with an address and the amount you want to send.');
                    $('#funding-instructions-2').text('Please ensure that you enter the correct bitcoin address, otherwise your funds may not be recoverable.');
                    $('#qrcode').empty();
                    $('#funding-address').empty();
                  });
                });
                </script>


              </div>
              <!-- /.box -->
          <!-- TABLE: Latest activity -->
          <div class="box box-info" style='color:white; width: 400px;'>
              <div class="box-header with-border" style='color:white;'>
                <h3 class="box-title"><strong>Latest Transfers</strong></h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="table-responsive">
                  <table class="table no-margin">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Amount</th>
                      <th>Confirmations</th>
                    </tr>
                    </thead>
                    <tbody>
  
                    {% for row in table %}
                      <tr>
                        {% if row[6] != '' %}
                          <td><a href={{ "https://blockchain.info/tx/" + row[6] }} class="id-link">{{ row[0] }}</a></td>
                        {% else %}
                          <td><a class="id-link">{{ row[0] }}</a></td>
                        {% endif %}
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        {% if row[4] == 'Buy' %}
                          <td><span class="label label-warning">{{ row[4] }}</span></td>
                        {% elif row[4] == 'Sell' %}
                          <td><span class="label label-danger">{{ row[4] }}</span></td>
                        {% else %}
                          <td><span class="label label-success">{{ row[4] }}</span></td>
                        {% endif %}
                        <td>
                          <div class="sparkbar" data-color="#00a65a" data-height="20">{{ row[5] }}</div>
                        </td>
                      </tr>
                    {% endfor %}
  
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
          </div>

          <!-- /.row -->
        </div>
        <!-- /.col -->

      </div>
      <!-- /.row -->

      <!-- right col -->
      <section class="col-md-8 connectedSortable ui-sortable">

        <!-- small box -->
        <div class="small-box" style="height: 580px; color: black; background-color: rgb(184, 184, 184); text-align: center;">
          <div class="inner">
            <span id="funding-header"><h3><i class="fas fa-arrow-left"></i> Please select a funding option</h3></span>
            <h4 id="funding-instructions-1"></h4>
            <h4 id="funding-instructions-2"></h4>
            <br>
            <div id="qrcode"></div>
            <br>
            <h4 id="funding-address"></h4>
          </div>
        </div>

      </section>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
