{% extends "base.html" %}

{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>Funding</h1>
    </section>

    <!-- Main content -->
    <section class="content">

      <!-- PAGE HEADER -->
      <div class="box box-info" style='color:white;'></div>

      <!-- Main row -->
      <div class="row">
        
          <div class="col-md-4 connectedSortable ui-sortable">
              <div class="funding-buttons">
                  <a id="deposit-button" href="JavaScript:Void(0);" class="funding-button funding-save"><i class="fas fa-download"></i> Deposit</a>
                  <a id="withdraw-button" href="JavaScript:Void(0);" class="funding-button funding-save"><i class="fas fa-upload"></i> Withdraw</a>
                </div>
                <br>
                <br>
                <br>
            <div class="box box-default bg-aqua" style="width: 400px;">
                <!-- /.box-header -->
                <div class="box-body" style="height: 300px;">
                  <form action="" method="post">
                    <input type="radio" name="gender" value="male" checked="checked"><h4><i class="fab fa-bitcoin"></i><strong> Bitcoin (BTC)</strong></h4><br><br><hr>
                    <input type="radio" name="gender" value="female" disabled="true"><h4><i class="fas fa-money-check-alt"></i><strong> US Dollar (USD)</strong></h4>
                    [Currently unavailable]
                  </form>
                </div>
                <!-- /.box-body -->

                <script>
                $(document).ready(function() {
                  $('#deposit-button').click(function() {
                    $('#deposit-button').css('background-color', '#222d32');
                    $('#withdraw-button').css('background-color', '#425964');
                    $('#funding-header').html('<h3>Bitcoin deposit <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></h3>');
                    $('#funding-instructions-1').text('Deposit bitcoins by sending to the deposit address shown below.');
                    $('#funding-instructions-2').text('Three confirmations are required before the funds are available for trading.');
                    $('#qrcode').empty();
                    var address;
                    $.getJSON($SCRIPT_ROOT + "/get_address", function(data) {
                      address = data.result
                      $('#qrcode').qrcode({
                        width: 256,
                        height: 256,
                        background: "rgb(184, 184, 184)",
                        text: address
                      });
                      $('#funding-address').html('<strong> <a href="/explorer/address/' + address + '">' + address + '</a> </strong>');
                    });
                    var getDeposit = setInterval(function() {
                      $.getJSON($SCRIPT_ROOT + "/get_deposit", function(data) {
                        var deposit = data['result'];
                        console.log("deposite data.....", deposit)
                        if (deposit != 'None') {
                          $('#qrcode').empty();
                          $('#funding-header').html('<h3>Bitcoin deposit <i class="fas fa-check-circle"></i></h3>');
                          $('#funding-instructions-1').text('Deposit successful');
                          $('#funding-instructions-2').html('Transaction ID: <a href="/explorer/tx/' + deposit + '">' + deposit + '</a>');
                          //$('#funding-instructions-2').html('Transaction ID: <a target="_blank" href="https://testnet.blockchain.info/tx/' + deposit + '">' + deposit + '</a>');
                          $('#funding-address').empty();
                          clearInterval(getDeposit);
                        }
                      });
                    },
                    5000
                    );
                  });
                  $('#withdraw-button').click(function() {
                    $('#deposit-button').css('background-color', '#425964');
                    $('#withdraw-button').css('background-color', '#222d32');
                    $('#funding-header').html('<h3>Bitcoin withdrawal</h3>');
                    var getWithdrawal = setInterval(function() {
                        $.getJSON($SCRIPT_ROOT + "/check_withdrawal_confirmed", function(data) {
                          var withdrawal = data['result'];
                          console.log("withdrawal..................",withdrawal)
                          if (withdrawal != 'None') {
                            console.log("withdrawalahdjhasd............")
                            
                              $('#funding-header').html('<h3>Bitcoin withdrawal <i class="fas fa-check-circle"></i></h3>');
                              $('#qrcode').empty();
                              $('#funding-address').empty();
                              $('#funding-instructions-1').text('Withdrawal successful with CONFIRMED Balance');
                              $('#funding-instructions-2').html('Transaction ID: <a href="/explorer/tx/' + withdrawal + '">' + withdrawal + '</a>');
                              //$('#funding-instructions-2').html('Transaction ID: <a target="_blank" href="https://testnet.blockchain.info/tx/' + withdrawal + '">' + withdrawal + '</a>');
                            
                            clearInterval(getWithdrawal);
                          }
                        });
                      },
                      10000
                      );
                    $('#funding-instructions-1').text('Withdraw bitcoins by providing us with an address and the amount you want to send.');
                    $('#funding-instructions-2').text('Please ensure that you enter the correct bitcoin address, otherwise your funds may not be recoverable.');
                    $('#qrcode').empty();
                    $('#funding-address').empty();
                    $('#qrcode').html('<div class="box-body" style="height: 343px;"><form id="withdraw-form" class="login101-form validate-form" action="" method="post"><div class="wrap-input101 validate-input m-b-10"><input id="withdraw-address", autocomplete="off", placeholder="Destination address", style="background-color:#e3eeec", class="input101", value="", size=36></div><div class="wrap-input101 validate-input m-b-10" data-validate = "Please enter a valid number"><input id="withdraw-amount", class="input101", value="", autocomplete="off", placeholder="Amount (BTC)", size=36></div><div class="container-login101-form-btn p-t-10"><input type="button" value="Withdraw" id="withdraw-button-2", class="login101-form-btn"></div></form><h4 style="color: white;" align="center"></h4></div><!-- /.box-body -->');
                    $('#withdraw-button-2').click(function() {
                      $('#funding-header').html('<h3>Bitcoin withdrawal <i class="fa fa-spinner fa-spin" style="font-size:24px"></i></h3>');
                      var getWithdrawal = setInterval(function() {
                        $.getJSON($SCRIPT_ROOT + "/get_withdrawal", {
                            address: $('#withdraw-address').val(),
                            amount: $('#withdraw-amount').val()
                        }, function(data) {
                          var withdrawal = data['result'];
                          console.log("withdrawal..................",withdrawal)
                          if (withdrawal != 'None') {
                            console.log("withdrawalahdjhasd............")
                            if (withdrawal == 'error-address') {
                              $('#funding-header').html('<h3>Bitcoin withdrawal</h3>');
                              $('#funding-address').html('<strong>Please enter a valid address</strong>');
                            } else if (withdrawal == 'error-amount') {
                              $('#funding-header').html('<h3>Bitcoin withdrawal</h3>');
                              $('#funding-address').html('<strong>Please enter a valid amount</strong>');
                            } else if (withdrawal == 'error-both') {
                              $('#funding-header').html('<h3>Bitcoin withdrawal</h3>');
                              $('#funding-address').html('<strong>Please enter a valid address and amount</strong>');
                            } else {
                              $('#funding-header').html('<h3>Bitcoin withdrawal <i class="fas fa-check-circle"></i></h3>');
                              $('#qrcode').empty();
                              $('#funding-address').empty();
                              $('#funding-instructions-1').text('Withdrawal successful with UNCONFIRMED Balance');
                              $('#funding-instructions-2').html('Transaction ID: <a href="/explorer/tx/' + withdrawal + '">' + withdrawal + '</a>');
                              //$('#funding-instructions-2').html('Transaction ID: <a target="_blank" href="https://testnet.blockchain.info/tx/' + withdrawal + '">' + withdrawal + '</a>');
                            }
                            clearInterval(getWithdrawal);
                          }
                        });
                      },
                      10000
                      );
                    });
                  });
                });
                </script>


              </div>
              <!-- /.box -->
          <!-- TABLE: Latest activity -->
          <div class="box box-info" style='color:white; width: 400px;'>
              <div class="box-header with-border" style='color:white;'>
                <h3 class="box-title"><strong>Latest Transfers</strong></h3>
              </div>
              <!-- /.box-header -->
              <div class="box-body">
                <div class="table-responsive">
                  <table class="table no-margin">
                    <thead>
                    <tr>
                      <th>ID</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Amount</th>
                      <th>Confirmations</th>
                    </tr>
                    </thead>
                    <tbody>

                    {% for row in latest_txs %}
                      <tr>
                        <td><a href="{{ '/explorer/block/' + row[0] }}" class="id-link">{{ row[0][:3] }}...</a></td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                      </tr>
                    {% endfor %}
  
                    </tbody>
                  </table>
                </div>
                <!-- /.table-responsive -->
          </div>

          <!-- /.row -->
        </div>
        <!-- /.col -->

      </div>
      <!-- /.row -->

      <!-- right col -->
      <section class="col-md-8 connectedSortable ui-sortable">

        <!-- small box -->
        <div class="small-box" style="height: 580px; color: black; background-color: rgb(184, 184, 184); text-align: center;">
          <div class="inner">
            <span id="funding-header"><h3><i class="fas fa-arrow-left"></i> Please select a funding option</h3></span>
            <h4 id="funding-instructions-1"></h4>
            <h4 id="funding-instructions-2"></h4>
            <br>
            <div id="qrcode"></div>
            <br>
            <h4 id="funding-address"></h4>
          </div>
        </div>

      </section>

    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
{% endblock %}
