{% extends "base.html" %}

{% block content %}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        <strong>Dashboard</strong>
      </h1>
    </section>

    <!-- Main content -->
    <section class="content">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-aqua">
            <div class="inner">
              <h3>Balances</h3>
              <h4 id="balance_btc"></h4>
              <h4 id="balance_usd"></h4>
              <hr>

              <!-- TAKE CORRECT HTML FROM TEMPORARY SCRIPT ? -->
              <h4 id="balance_total"></h4>
              <!-- TAKE CORRECT HTML FROM TEMPORARY SCRIPT ? -->
              <br>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">

          <!-- Websocket prices from Bitfinex -->
          <!-- small box -->
          <div class="small-box bg-green">
            <div class="inner">
              <h3>BTC/USD</h3>
              <h3 id="last">$</h3>
              <br>
              
              <h4 id="daily-change"><strong>Change (24h): </strong></h4>
              <br>
              <script>
                $(document).ready(function() {
                  var ws = new WebSocket('wss://api.bitfinex.com/ws/');
                  ws.onopen = function() {
                    ws.send(JSON.stringify( {
                      "event":"subscribe", "channel":"ticker", "pair":"tBTCUSD"
                    }));
                  };
                  ws.onmessage = function(msg) {
                    var response = JSON.parse(msg.data);
                    var responseRaw = msg.data;
                    var hb = response[1];
                    if (hb != "hb") {
                      var previousLast = parseFloat($('#last').text().substring(1).replace(/,/g, ''));
                      var dailyChange = (response[6] * 100).toFixed(2);
                      var last = Math.round(response[7]);
                      const numberWithCommas = function(x) {
                        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                      }
                      if (dailyChange > 0) {
                        $('#daily-change').html("<h4><strong>Change (24h): <span class='green-change'>" + dailyChange + "%</span></strong></h4>");
                      } else {
                        $('#daily-change').html("<h4><strong>Change (24h): <span class='red-change'>" + dailyChange + "%</span></strong></h4>");
                      }
                      if (last > previousLast) {
                        $('#last').html("<h3 style='color:green;'>" + "$" + numberWithCommas(last) + "</h3>");
                      } else {
                        $('#last').html("<h3 style='color:red;'>" + "$" + numberWithCommas(last) + "</h3>");
                      }

                      // TEMPORARY SCRIPT
                      var price = parseFloat($('#last').text().substring(1).replace(/,/g, ''));
                      var usd_equivalent = {{ balances.balance_btc }} * price;
                      var balance = 837835 + (10 * price);
                      var pnlUSD = balance - 1000000 - (-10 * price);
                      var pnlChange = pnlUSD / 1000000;
                      var pnlPercentage = (pnlChange * 100).toFixed(2);
                      $('#balance_btc').html("<strong>" + numberWithCommas({{ balances.balance_btc }}) + "</strong> <sub>BTC </sub><strong>(" + usd_equivalent + " </strong><sub>USD</sub><strong>)</strong>");
                      $('#balance_usd').html("<strong>" + numberWithCommas({{ balances.balance_usd }}) + "</strong> <sub>USD</sub>");
                      $('#balance_total').html("<strong>" + numberWithCommas(balance) + " </strong><sub>USD (total)</sub>");
                      $('#pnlUSD').html("<strong>Total PnL: " + numberWithCommas(pnlUSD) + " </strong><sub>USD</sub>")
                      $('#pnlPercentage').html("<strong>Total PnL: " + pnlPercentage + "</strong>%")
                      // TEMPORARY SCRIPT

                    }
                  };
                });
              </script>

            </div>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red">
            <div class="inner">
              <h3>Portfolio</h3>
              <h4 id="pnlUSD"></h4>
              <h4 id="pnlPercentage"></h4>
              <br>
              <p><strong>..</strong></p> <!-- Volatility (daily): -->
              <br>
            </div>
          </div>
        </div>
        <!-- ./col -->
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-yellow">
            <div class="inner">
              <h3>News</h3>
              <div id="rss-feeds"></div>
              <script>
              $(document).ready(function($) {
                $("#rss-feeds").rss("https://www.coindesk.com/feed/",
                {
                  limit: 3,
                  entryTemplate: '<li><a href="{url}" class="rss-link">{title}</a></li>'
                });
              });
              </script>
            </div>
          </div>
        </div>
      </div>
      <!-- /.row -->
      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <section class="col-lg-7 connectedSortable">

          <!-- TABLE: Recent activity -->
          <div class="box box-info" style='color:white;'>
            <div class="box-header with-border" style='color:white;'>
              <h3 class="box-title"><strong>Recent activity</strong></h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>ID</th>
                    <th>Date</th>
                    <th>Type</th>
                    <th>Amount</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="https://blockchain.info/tx/5452b698399278869d272459e0b4da706448f40d0efc47b7059b5d4883dcde19" class="id-link">W09842</a></td>
                    <td>21-Mar-2018</td>
                    <td><span class="label label-success">Withdrawal</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">10 BTC</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html" class="id-link">B01668</a></td>
                    <td>16-Mar-2018</td>
                    <td><span class="label label-warning">Buy</span></td>
                    <td>
                      <div class="sparkbar" data-color="#f39c12" data-height="20">5 BTC @ $8,189</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html" class="id-link">S07429</a></td>
                    <td>11-Mar-2018</td>
                    <td><span class="label label-danger">Sell</span></td>
                    <td>
                      <div class="sparkbar" data-color="#f56954" data-height="20">15 BTC @ $9,602</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html" class="id-link">B05099</a></td>
                    <td>11-Mar-2018</td>
                    <td><span class="label label-warning">Buy</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00c0ef" data-height="20">25 BTC @ $8,700</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html" class="id-link">S01848</a></td>
                    <td>04-Mar-2018</td>
                    <td><span class="label label-danger">Sell</span></td>
                    <td>
                      <div class="sparkbar" data-color="#f39c12" data-height="20">5 BTC @ $11,460</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html" class="id-link">B07429</a></td>
                    <td>01-Mar-2018</td>
                    <td><span class="label label-warning">Buy</span></td>
                    <td>
                      <div class="sparkbar" data-color="#f56954" data-height="20">10 BTC @ $10,505</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html" class="id-link">D09842</a></td>
                    <td>01-Mar-2018</td>
                    <td><span class="label label-success">Deposit</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">$1,000,000</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right"><strong>View All</strong></a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->

        </section>
        <!-- right col -->
      </div>
      <!-- /.row (main row) -->

    </section>
    <!-- /.content -->
  </div>
{% endblock %}
